﻿

<style>
    .green {
        background-color: greenyellow;
        font-size: 12px;
        padding: 3px 8px;
    }
</style>
@model Medacademy.Models.CourseModel
<div class="modal-dialog modal-md">
    <div class="modal-content" style="border-radius: 3px;">
        <div class="modal-body">
            <form>
                <div class="modal-header">
                    Course Details<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Course Name</label>
                    <div class="col-sm-9">
                        <label> @Model.CourseName</label>
                    </div>
                </div>
                @*<div class="form-group row">
                    <label class="col-sm-3 col-form-label">Subject</label>
                    <div class="col-sm-8">
                        <label> @Model.CourseSubjectName</label>
                    </div>
                </div>*@
                @*<div class="form-group row">
                    <label class="col-sm-3 col-form-label">Price</label>
                    <div class="col-sm-9">
                        <label> @Model.Price</label>
                    </div>
                </div>*@
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Duration</label>
                    <div class="col-sm-9">
                        <label> @Model.Duration</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Details</label>
                    <div class="col-sm-9">
                        <label> @Model.Details</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-9">
                        <label class="green"> @Model.Isactive</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Course Image</label>
                    <div class="col-sm-8">
                        <div class="upload-box" style="background-image:url(@Model.Courseimage);">
                        </div>
                    </div>
                </div>
              
            </form>
        </div>


        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
