﻿@model Medacademy.Models.SubjectModel
@{
    ViewBag.Title = "AddSubject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="addpackage">
    @using (Ajax.BeginForm("AddSubjects", "Admin", null, new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "SubjectAddSuccess",
        OnFailure = "SubjectAddFailed",
    }, new { id = "form-login" }))
    {
        <div class="container">
            <div class="col-12">
                <div class="package_heading">
                    <h3>Add Subject</h3>
                </div>
                <form>
                   

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Package</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.PackageID, Ma.EntityLibrary.Data.Dropdowndata.GetPackageDrop(), "--Choose--", new { @class = "form-control pv_class-drop-down", @data_live_search = "true", name = "courseDropdown", id = "courseDataDropdown" })
                            @Html.ValidationMessageFor(m => m.PackageID)
                        </div>
                    </div>
                    @*<div class="form-group row">
                        <label class="col-sm-2 col-form-label">Group</label>
                        <div class="col-sm-8">
                            
                            @Html.DropDownListFor(m => m.GroupID, new SelectList(new List<Object> { new { value = 0, text = "--Choose--" } }, "value", "text"), new { @class = "form-control division_Select", @data_live_search = "true", @disabled = "disabled", @visibility = "hidden" })
                           
                            @Html.TextBoxFor(m => m.GroupID, new { @id = "textgroup", @class = "form-control", placeholder = "Group", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.GroupID)
                        </div>
                    </div>*@

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SubjectName, new { @class = "form-control", placeholder = "Subject Name" })
                            @Html.ValidationMessageFor(m => m.SubjectName)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">&nbsp;</label>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" onclick="CloseSubject()">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
</section>
<script>
    function refreshSubjectGrid() {
        $.ajax({
            url: '/Admin/RefreshSubject',
            dataType: 'html',
            success: function (data) {
                $('#class-list-view').html(data);
                IntializeDataTable();
            },
        });
    }

    function IntializeDataTable() {
        $('#classTable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    }
     function SubjectAddSuccess(result) {
        if (result.status) {
            toastrSuccess(result.msg);
            refreshSubjectGrid();
        }
        else {
            toastrError(result.msg);
        }
    }
    function SubjectAddFailed() {
        toastrError('Subject Adding Failed');
    }

    $(document).on('change', '.pv_class-drop-down', function () {
        var packageid = $(this).val();
       
        if (packageid != '') {
            //debugger;
            // resetDropDown('Class');
            $.ajax({
                url: '/Admin/Getgroup?packageid=' + packageid,
                type: "GET",
                success: function (result) {
                    if (result.list.length > 0) {
                        $("#GroupID").prop("visibility", true);
                        $("#textgroup").prop("visibility", false);
                        $("#GroupID").html(""); // clear before appending new list
                        $("#GroupID").append($('<option></option>').val("").html('-- Choose --'));
                        $.each(result.list, function (i, item) {
                            
                            $("#GroupID").append($('<option></option>').val(item.Value).html(item.Text));
                            //alert('test' + item.Value);
                        });
                        $("#GroupID").prop("disabled", false);

                    }
                    else {
                        // resetDropDown('Class');
                        $("#GroupID").prop("visibility", false);
                        $("#GroupID").html(""); // clear before appending new list
                        $("#GroupID").append($('<option></option>').val("").html('-- No Group Found --'));
                        $("#GroupID").prop("disabled", true);
                    }
                }
            });
        }
        else {
            //  resetDropDown('Class');
        }
    });

    function CloseSubject() {
        window.location.href = '/Admin/Subject/';
    }
</script>


