﻿
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li>
                            <h3 class="box-title">Course List</h3>
                        </li>
                    </ol>
                    <a class="btn btn-success btn-xs" style="margin-left:5px" onclick="AddCourse()">Add Course</a>
                </div><!-- /.box-header -->
                <div class="box-body" id="class-list-view">
                    @Html.Partial("~/Views/Admin/_pv_Course_Grid.cshtml")
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<div class="modal fade" id="addCourse">
</div><!-- /.modal --><!--Add Course--->

<div class="modal fade" id="editCourse">
</div><!-- /.modal --><!--edit Course--->

<div class="modal fade" id="viewCourse">
</div><!-- /.modal --><!--view Course--->
@*<div class="modal fade" id="attachSubject">
    </div><!-- /.modal --><!--edit Class--->

    <div class="modal fade" id="promptExamPassword">
    </div><!-- /.modal --><!--edit Class--->*@

<script>
    $(document).ready(function () {

        IntializeDataTable();

    });


    function IntializeDataTable() {
        $('#classTable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            //"ordering": true,
            "info": true,
            "autoWidth": true
        });
    }

    function refreshCourseGrid() {
        $.ajax({
            url: '/Admin/RefreshCourse',
            dataType: 'html',
            success: function (data) {
                $('#class-list-view').html(data);
                IntializeDataTable();
            },
        });
    }


    function AddCourse() {
        $.ajax({
            url: '/Admin/AddCourse',
            dataType: 'html',
            success: function (data) {
                $('#addCourse').html(data);
                $.validator.unobtrusive.parse($('#addCourse'));
                $('#addCourse').modal('show');
            },
        });
    }

    $(document).on('change', '#course-image-upload', function () {
        //debugger;
        var source = $(this);
        var selectedFile = this.files[0];
        var input = this;
        if (input.files && input.files[0]) {
            var url = input.value;
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg" || ext == "bmp") {
                selectedFile.convertToBase64(function (base64) {
                    $('#course-img-preview').attr({ "src": base64, "class": "useruploder" });
                    $('#Courseimage').val(base64);
                });
                var reader = new FileReader();
            }
            else {
                $(source).val('');
                toastrWarning('Invalid Filetype');
            }
        }
    });
    File.prototype.convertToBase64 = function (callback) {
        var FR = new FileReader();
        FR.onload = function (e) {
            callback(e.target.result)
        };
        FR.readAsDataURL(this);
    }


    function EditCourse(source) {
        var courseid = $(source).attr("data-id");
        $.ajax({
            url: '/Admin/EditCourseView?courseid=' + courseid,
            dataType: 'html',
            success: function (data) {
                $('#editCourse').html(data);
                $.validator.unobtrusive.parse($('#editCourse'));
                $('#editCourse').modal('show');
            },
        });
    }


    $(document).on('change', '#courseedit-image-upload', function () {
        var source = $(this);
        var selectedFile = this.files[0];
        var input = this;
        if (input.files && input.files[0]) {
            var url = input.value;
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg" || ext == "bmp") {
                selectedFile.convertToBase64(function (base64) {
                    var h = $(document).find('#courseedit-img-preview').html();
                    //alert(h);
                    $(document).find('#courseedit-img-preview').remove();
                    $(document).find('#dummyId').html("<div class='upload-box'style='background-image:url(" + base64 + ");'id='courseedit-img-preview'>" + h + "</div>");
                    //alert(f);
                    $('#Courseeditimage').val(base64);
                });
                var reader = new FileReader();
            }
            else {
                //alert('23');
                $(source).val('');
                toastrWarning('Invalid Filetype');
            }
        }
    });


    $(document).on('click', '.confirmDelete', function () {
        var courseid = $(this).attr("data-id");
        var url = '/Admin/CourseDelete?courseid=' + courseid;
        $.confirm({
            text: "Are you sure?",
            confirm: function (button) {
                $.get(url, function (result) {
                    if (result.status) {
                        toastrSuccess(result.msg);
                        refreshCourseGrid();
                    }
                    else {
                        toastrError(result.msg);
                    }
                });
            },
            confirmButton: "Yes",
            cancelButton: "Cancel",
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-success",
        });
    });

    function ViewCourse(source) {
        var courseid = $(source).attr("data-id");
        $.ajax({
            url: '/Admin/CourseView?courseid=' + courseid,
            dataType: 'html',
            success: function (data) {
                $('#viewCourse').html(data);
                $.validator.unobtrusive.parse($('#viewCourse'));
                $('#viewCourse').modal('show');
            },
        });
    }
</script>



