﻿
@{
    ViewBag.Title = "Level";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><h3 class="box-title">Level</h3></li>
                    </ol>
                    <a class="btn btn-success btn-xs" style="margin-left:5px" onclick="AddLevel()">Add Topic</a>
                </div><!-- /.box-header -->
                <div class="box-body" id="class-list-view">
                    @Html.Partial("~/Views/Admin/_pv_Level_Grid.cshtml")
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<div class="modal fade" id="editLevel">
</div><!-- /.modal --><!--edit Class--->

<script>
    $(document).ready(function () {

        IntializeDataTable();

    });
    function IntializeDataTable() {
        $('#classTable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    }
    function AddLevel() {
        window.location.href = '/Admin/AddLevel/';
    }
    function EditLevel(source) {
        // debugger;
        var levelid = $(source).attr("data-id");
        // alert(groupid);
        $.ajax({
            url: '/Admin/EditLevelView?levelid=' + levelid,
            dataType: 'html',
            success: function (data) {
                $('#editLevel').html(data);
                $.validator.unobtrusive.parse($('#editLevel'));
                $('#editLevel').modal('show');
            },
        });
    }

    $(document).on('click', '.confirmDelete', function () {
        var levelid = $(this).attr("data-id");
        var url = '/Admin/LevelDelete?levelid=' + levelid;
        $.confirm({
            text: "Are you sure?",
            confirm: function (button) {
                $.get(url, function (result) {
                    if (result.status) {
                        toastrSuccess(result.msg);
                        refreshLevelGrid();
                    }
                    else {
                        toastrError(result.msg);
                    }
                });
            },
            confirmButton: "Yes",
            cancelButton: "Cancel",
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-success",
        });
    });

    function refreshLevelGrid() {
        $.ajax({
            url: '/Admin/RefreshLevel',
            dataType: 'html',
            success: function (data) {
                $('#class-list-view').html(data);
                IntializeDataTable();
            },
        });
    }

</script>


