﻿@model Medacademy.Models.ExamModel
@{
    ViewBag.Title = "Exam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3>Add Exam</h3>
                </div><!-- /.box-header -->
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Exam Name</label>
                        <div class="col-sm-8">
                            @*<input type="text" class="form-control" placeholder="Test">*@
                            @Html.TextBoxFor(m => m.ExamName, new { @class = "form-control", placeholder = "Exam Name" })
                            @Html.ValidationMessageFor(m => m.ExamName)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Duration</label>
                        <div class="col-sm-8">
                            @*<input type="text" class="form-control" placeholder="Test">*@
                            @Html.TextBoxFor(m => m.Duration, new { @class = "form-control", placeholder = "In minutes" })
                            @Html.ValidationMessageFor(m => m.Duration)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Start Date</label>
                        <div class="col-sm-3">

                            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", id = "StartDate", placeholder = "MM/DD/YYYY", autocomplete = "off" })
                            @*<i class="fa "></i>*@
                            @Html.ValidationMessageFor(m => m.StartDate)

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">End Date</label>
                        <div class="col-sm-3">

                            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", id = "EndDate", placeholder = "MM/DD/YYYY", autocomplete = "off" })
                            @*<i class="fa "></i>*@
                            @Html.ValidationMessageFor(m => m.EndDate)

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">&nbsp;</label>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" onclick="CloseLevel()">Close</button>
                        </div>
                    </div>

                </form>
                <div class="box-body" id="class-list-view">
                    @Html.Partial("~/Views/Admin/_pv_Level_Grid.cshtml")
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

    <script>
        $(document).ready(function () {

        })
        $(function () {

            $('#EndDate').datetimepicker();

        });

        $(function () {

            $('#StartDate').datetimepicker();

        });
    </script>
